<div class="student scores index">
  <p>
    Please select the Assessment Version from the dropdown menu
  <% actions =[] %>
  
  <% @versions.each do |ver| %>
    <% actions.push({menu_name: "Version #{ver.version_num} of #{ver.assessment.name}" , 
      link_url: assessment_version_student_scores_path(ver.id)}) %>
  <% end %>
  
  <%= render(partial: 'dropdown', locals: {:actions => actions}) %>

  </p>
    <!--<br>
    <%#= link_to 'Update Current Template', assessment_version_student_scores_path(format: "xls") %>
    <%#= link_to "Blank Template", assessment_version_student_scores_path(format: "xls") %>
    
    </br>-->