<p>Please select the Assessment Version</p>
<% actions =[] %>

<% @versions.each do |ver| %>
  <% actions.push({menu_name: "Version #{ver.version_num} of #{ver.assessment.name}" , 
    link_url: import_assessment_version_student_scores_path}) %>
<% end %>

<%= render(partial: 'dropdown', locals: {:actions => actions}) %>