/ tips on styling radio buttons to look cool: https://codepen.io/AngelaVelasquez/pen/BWXbxP

%table.table.table-stripped
  - items.each do |item|
    %tr
      %td= item.slug
      -item.item_levels.each do |item_level|
        %td
          %p.item_level_box
            %input{:id => "item_level#{item_level.id}", :name => "item_levels[asessment_item_id_#{item.id}]", :type => "radio", :value => item_level.id}/
            %label{:for => "item_level#{item_level.id}"}
              =item_level.descriptor

%button{:type => "submit"}Submit