<%= link_to pgp_pgp_scores_path(@pgp_score.pgp.id), class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>
<%= form_for(@pgp_score, url: pgp_score_path(@pgp_score.id)) do |f| %>

        
	<%= render(partial: 'form', locals: {f: f}) %>
	
	<div class="form-buttons">
    	<tr>
    	    <td> <%= submit_tag("Edit Professonal Growth Plan Score") %> </td>
        </tr>
	</div>
	
<% end %>