<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Dear <%= "#{@adv.first_name} #{@adv.last_name}" %>, </br>

<p>
  This email is to inform you that an issue was posted or updated for <%= @stu.name_readable %>. Please login to the EDS Dashboard for more details.
</p>

<p>
  Sincerely, </br>
  Berea College Teacher Education Program
</p>

</body>
