<%= link_to clinical_sites_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

<%= form_for(@site, url: clinical_site_path(@site.id)) do |f| %>

	<table summary="clinical_site form fields">

    <caption>
    	<span class="header1"> Edit Clinical Site</span>

    </caption>

	<%= render(partial: 'form', locals: {f: f}) %>

	<tr>
		<td><%= submit_tag("Update Site") %></td>
	</tr>

<% end %>