%h1 Listing student_score_uploads

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @student_score_uploads.each do |student_score_upload|
      %tr
        %td= link_to 'Show', student_score_upload
        %td= link_to 'Edit', edit_student_score_upload_path(student_score_upload)
        %td= link_to 'Destroy', student_score_upload, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Student score upload', new_student_score_upload_path
