<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
Dear <%= "#{@adv.first_name} #{@adv.last_name}" %>, </br>

<p>
  This email is to inform you that according to Banner, <%= @stu.name_readable %> has been
  <b><%= @status %></b>
  as your advisee. Please reach out to the student to confirm if
  this information is correct. If it is incorrect, please inform
  <a href="mailto:stoebelj@berea.edu">Jacob Stoebel</a> and
  <a href="mailto:rosenbarkerl@berea.edu"> Lisa Rosenbarker </a>
</p>

<p>
  Sincerely, </br>
  Berea College Teacher Education Program
</p>

</body>
