<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Banner_update finished successfully at <%= @timestamp %> with <%= @error_count %> caught errors. 
</p>


</body>
