Dear <%= @adv.Salutation %>,

<p>
  Praxis scores for <%= @stu.name_readable %> have been received. You can view them now in the dashboard. We recieved scores for the following tests.
</p>

<ol>

<% @tests.each do |result| %>
  <li><%= result.praxis_test.TestName %></li>
<% end %>

</ol>

Best,<br>
Berea College Teacher Education Program
