<%= link_to students_path, class: "btn btn-default back-link glyphicon glyphicon-arrow-left" do %>
  <i class=" link-text"> Back</i>
<% end %>

    </br>
    
  <div class="container-fluid">
    <table class="table table-striped">
      <div class="row">      
        <caption>
          <div class="header1 col-xs-12">Professional growth plans for <%= name_details(@student)%></div></br>

          <div class="header2 col-xs-12"> <%= pluralize(@student.pgps.size, "professional growth plan") + " found" %> </div>
            <div class="col-xs-1">
              <%= link_to new_student_pgp_path(@student.AltID), :class => "btn btn-info glyphicon glyphicon-plus action-large" do %>  
                  <span class="large-btn-text">New Professional Growth Plan</span>
              <% end %>         
            </div>
        </caption>
      </div>
          <% if @student.pgps.size > 0 %>
  
            <tr class="header">
              <th>Goal</th>
              <th>Score</th>
            </tr>
                
              <td class="actions">
                    <!-- buttons
                      details
                      updates
                      close isue -->
                                  
              <% end %>
              </td>
      
              