/* * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


 *= require bootstrap-datepicker
 *= require_self
 *= require nav_bar
 *= require_tree .
 
 
 /* Admin stylesheet       */
/* load after public.css */

/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F 
light green:  #B6D491
yellow:       #F2DC87 -> light blue: #0DC9F7 (zebra strip: #0AA1C6)
dark brown:   #332318 -> light red: #ED1C24
light brown:  #4C2516 -> salmon: #F05B47

NEW COLORS

light green: #B6D491 
blue: #0DC9F7

light blue: #D9EDF7 (table header)
light gray: #F9F9F9 (body background, zebra stripe 1) (zs2 = white)

gray: #7F7F7F 
salmon: #F05B47
light red: #ED1C24

*/


html { height: 100%; width: 100%; }

.yield {background-color: #F9F9F9; 
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%; 
  width: 100%;
  color: black;

  }

body { width: 100%; min-width: 980px; height: 100%; margin: 0; padding: 0; 
  font: 12pt Verdana,Lucida,Arial,Helvetica,sans-serif; color: #332318; background-color: #F9F9F9;  }
p, td, ul, ol, li, dl, dt, dd { 
  font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; }
img { border: none; }
table { border-collapse: collapse; }

table tr th, table tr td {vertical-align: middle; text-align: left; 
  padding: 10px;}
/*a, a:visited { color: #993120; }*/
a:hover {}


/*
Style for Glyphicons*/

.glyphicon {
  margin: 0;
  position: relative;
  vertical-align: middle;
  /*left: 50%;*/
  /*margin-right: -50%;*/
  /*transform: translate(-50%, 0%);*/
  font-size: 1.5em;

}

.glyphicon-ok {  
  color: green;
}

.glyphicon-remove {  
  color: red;
}

/*h2, h3 {margin-left: 50px;
  color: black;
  }    /*page headers*/*/

/*hr{ border: 0; height: 1px; background: #ccc; background-image: linear-gradient(to right, #ccc, #333, #ccc); }*/

hr {background-color: black; border: 0; height: 1px;}

.clear { clear: both; }
.center { text-align: center; }

/* Structure */
#header { height: 4em; padding-top: 1em; text-align: center; 
  background: #993120; color: #FFFFFF; }
#header h1 { margin: 0; padding: 0; }



#main { min-height: 500px; background: white; }
#navigation { float: left; width: 180px; min-height: 480px; padding: 10px; 
  background: #94B26F; color: #4C2516; }
#content { padding: 10px; }
#footer { clear: both; height: 2.5em; text-align: right;
  background: #4C2516 url('/assets/footer_gradient.png') repeat-y 0 0; color: white; }
#footer p { margin: 0; padding: 0.5em 1em; }

/* Navigation */

#username {
  background-color: gray;
  max-width: 200px;
}

.navigation{
	border-bottom:#adb1b2 solid 1px;
	padding:15px 5px;
	background: #B6D491;

}

.navigation ul{
	margin:0px;
	padding:0px;
}

.navigation ul li{
	margin:0px;
	padding:0px 32px;
	display:inline;
	font-size:15px;
	list-style-type:none;
	border-right:#868B8F dotted 2px;
}

.navigation ul li a{
	color:#03314b;
	text-decoration:none;
}

.navigation ul li a:hover{
	text-decoration:underline;
}

.navigation ul li:last-child {
	border-right:none;
}

ul {list-style-type:none;}

/* Content */
#content h2 { color: #4C2516; }
sup {
    vertical-align: super;
    font-size: 6pt;
} 


/* Structure */
#content { padding-left: 100px; padding-right: 100px; }
#content h2 { width: 100%; text-align: center; }

.login form { margin: 100px 250px; }
.menu .identity { text-align: center; }
.menu ul { margin: 3em 250px; list-style: none; }
.menu ul li { margin-bottom: 1em; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }


/*old school action buttons*/
    /* large action buttons */
/*    a.action {  padding: 2px 5px; 
      background: #94B26F; color: #4C2516;  border: 1px solid #4C2516;
      text-decoration: none; font-size: 0.8em; text-align: center; }
    a.action:hover { background: #B6D491; }

    a.large_action {padding: 2px 5px; 
      background: #94B26F; color: #4C2516;  border: 1px solid #4C2516;
      text-decoration: none; font-size: 14pt; text-align: center; font-weight: normal;
    }

    /* small action buttons */
/*    .actions a.action { float: left; 
      padding: 1px 2px; margin: 2px 5px; font-size: 12pt; }

    .actions a.praxis_results  {min-width: 140px }
    .actions a.issues  {min-width: 90px }*/

/*new action buttons*/



  /*small buttons*/

    .action-small {
      font-size: 12pt;
      color: black;
      text-decoration: none;
      /*display: inline-block;*/
    }
    .action-small:visited {
      color: black;
      text-decoration: none;
    }

    .action-small:hover {
      color: black;
      text-decoration: none;
    }

    .action-small:hover:visited {
      color: black;
      text-decoration: none;
    }

    .action-small.praxis {
      min-width: 160px;
    }    

    .action-small.issues {
      min-width: 85px;
    }    

    .action-small.glyphicon {
      font-size: 12pt;
      display: inline-block;
    }

    .small-btn-text {
      font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; 
      width: 100%;
    }

  /*Large buttons*/

  .action-large, .action-large:visited, .action-large:hover, 
  .action-large:hover:visited  {
    font-size: 14pt;
    color: black;
  }

  .action-large.
  n {
    font-size: 14px;
  }

  .large-btn-text {
    font-family: Verdana,Lucida,Arial,Helvetica,sans-serif; 
    width: 100%;
  }

  
  .modal-title button.close {
    font-size: 24pt;
  }


button.btn-danger.glyphicon.glyphicon-remove {
  color: red;
  font-size: 16pt;
  background-color: transparent;
  border-color: transparent;
  vertical-align: top;
}  

.btn-default.disabled {
  /*lighter color for disabled btn-default*/
  background-color: #F9F9F9;
  color: #CCCCCC;
}



/*html body div.yield div.index table.listing.summary.student_files.list.table.table-striped tbody tr td.actions button.btn.btn-danger.glyphicon.glyphicon-remove.action-large {
  background-color: transparent;
}*/

div.form_link {font-size: 0pt;}

.actions a.show_praxis {min-width: 9em;}

td.full_span {column-span: all;}


/*no link*/
.no_link {
    font-size: 0.7em;
    margin: 2px 5px;
    min-width: 3.5em;
    padding: 1px 2px;
    color: gray;
    text-align: left;
    padding: 1px 2px;
}

/* CRUD */
.notice { height: 2.5em; padding: 0.5em; text-align: center;
  background: #B6D491; color: #4C2516; font-size: 16pt;}
.glyphicon.back-link { font-size: 1em; margin-bottom: 1em; 
  left: 1%; }

.link-text {font-family: Verdana,Lucida,Arial,Helvetica,sans-serif;}
.form-buttons { text-align: center; margin: 1em 0; }
table caption { font-weight: bold; margin-bottom: 10px; color: black;}



/*Tables*/

/*zebra stripping for bootstrap table
light blue: #D9EDF7 (table header)
light gray: #F9F9F9 (zebra stripe 1, zs2 = white)
 */

/*override headers inside .table > caption*/

.table caption {
  padding-top: 25px;
}

.header1 {
  font-size: 24px;
  font-style: bold;
}

.header2 {
  font-size: 20px;
  font-style: italic;
}

caption .container .row {width: inherit;}


.table-striped tr td {
  text-align: left;
}

.table-striped tr td .glyphicon {
  /*display: block;*/
  margin: auto;

}

.table-striped {
  min-width: 50%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td {
   background-color: #F9F9F9;
   border-style: 0px;
}

.table-striped > tbody > tr:nth-child(2n) > td {
   background-color: white;
   border-style: 0px;
}

.table-striped tbody tr td.actions, table.vertical-table tbody tr td.actions {
    /*action buttons inside tables*/

    color: black;
    /*background-color: #F9F9F9   */
  }


/*table header*/
.table-striped > tbody > tr > th {
   background-color: #D9EDF7;
   border-style: 0px;
}

/*no coloring for action buttons*/
/*.table-striped > tbody > tr > td.actions {
  background-color: #F9F9F9; -> considering deleting this.    
  border-style: 0px;
}*/

/*no bordering*/
.table-striped > tbody > tr > td {
  border-style: none;
}


table.vertical-table {

    /*table-layout: fixed;*/
    min-width: 30%;
    max-width: 90%;
    table-layout: auto;

}

td.wrap {
  table-layout: break-word;
}


.vertical-table td, .vertical-table th {
  border-style: solid;
  border-width: 1px;

}

.vertical-table td.actions{
  border-width: 0px;
}

.vertical-table #glyph-no-space {
  width: 3%;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.vertical-table #text-no-space {
  padding-left: 0px;
}
/*styling for old school tables.
.index {width: 100%; margin-left: 50px; margin-bottom: 50px}
.index table { clear: both; white-space: nowrap;}     /*width: 90%;*/
/*.index table tr td {white-space: nowrap; }*/
.show table { clear: both; margin: 0 100px 50px; width: 300px; 
  }
.show table td, .show table th {border-style: solid; border-width: 1px;}
.show table.wide { width: 600px; margin: 0 50px; }
.show table tr th { white-space: nowrap; padding-right: 5px;}
.show table tr td { }

.new table, .edit table {margin: 0 100px 50px; }

.section + .section { padding-top: 0.5em; margin-top: 0.5em;
  border-top: 1px dotted #666666; }

/*Issues*/

/*.issue_discrip { width: 90%; left: 10%; }*/
div.issue_header {width: 40%;}
.issue_new {float: right;}

.issue_discrip {margin-left: 25px;}
.issue_updates {left: 10%;}

table > tr > td.issue_discrip {height: 100px;}


/*test result formatting*/
/*.test-fail {color: red; font-weight: bold;}*/

/*.good_text {background-color: green; font-weight: bold;}
.bad_text {background-color: red; font-weight: bold;}*/

/*popup window*/



.good_text {
  color: green;
  border-color: inherit;
}

.bad_text {
  color: red;
  border-color: inherit;
}


/* status_tag 
span.status { display: block; width: 10px; height: 10px;
  margin: 0.25em auto; padding: 0; border: 1px solid #000000; }
span.status.true  { background: green; color: green; }
span.status.false { background: red; color: red; }

/* Errors */
.field_with_errors { }
.field_with_errors label { color: #AA0000; }
.field_with_errors input { border: 2px solid #AA0000;}
#errorExplanation { width: 400px; padding: 0; margin: 0 auto 1.5em;
  border: 1px solid #AA0000; background-color: #FFFFFF; font-size: 12px; }
#errorExplanation h2 { font-weight: bold; font-size: 12px;
  padding: 5px 5px 5px 15px; margin: 0; width: 400px; text-align: center;
  background-color: #AA0000; color: #FFFFFF; }
#errorExplanation p { color: #333333; margin: 0; padding: 3px 0.5em; }
#errorExplanation ul { margin-top: 0; }
#errorExplanation ul li { list-style: square; }
.spam { background-color: blue;}
