%h1 Editing PGP Goal
= simple_form_for @pgp_goal, :url => pgp_goal_path(@pgp_goal.id) do |f|
    = render partial: 'form', :locals => {f:f}

= link_to 'Show', @pgp_goal
\|
= link_to 'Back', student_pgp_goals_path(@student.id)
