<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/b-1.2.2/b-html5-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/b-1.2.2/b-html5-1.2.2/datatables.min.js"></script>


<% @page_title = "Student Reports" %>



<!-- insert back button -->
<div class="container-fluid">
  <!-- dropdown here  -->

  <% header_mappings = [
    ["B#", :Bnum],
    ["Name", :name_readable],
    ["Prog Status", :prog_status],
    ["Enrollment Status", :EnrollmentStatus],
    ["Program(s)", :ProgName],
    ["Major 1", :CurrentMajor1],
    ["Conc 1", :concentration1],
    ["Major 2", :CurrentMajor2],
    ["Conc 2", :concentration2],
    ["Minors", :CurrentMinors],
    ["EDS150", :Latest_Term_EDS150],
    ["Taken 227/228", :Taken227_228],
    ["Completed 227/228", :Passed_Completion_227],
    ["Term completing 227", :Latest_Completion_227],
    ["Term completing 227", :Latest_Completion_228],
    ["EDS440 or EDS470", :Latest_Term_EDS440_479],
    ["Advisors", :advisors]
  ] %>
  <%= render(partial: "dropdown_checks",
    locals: {options: header_mappings.transpose[0] } ) %>

  <div class="student reports index">
    <h2>Student Information:</h2>

    <table class="small" id="report" class="table table-striped" summary="Student Reports">
    </div>
    <thead>
      <tr class="header">
        <% header_mappings.each do |a, b| %>
          <th><%= a %></th>
        <% end %>

      </tr>
    </thead>
    <tbody>
      <% @data.each do |stu| %>
        <tr>
          <% header_mappings.each do |a, b| %>
            <td><%= stu[b] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
