<% @page_title = "Student Reports" %>

<!-- insert back button -->

<div class="student reports index">
  <p>
    Download Student Information:
    <%= link_to "Excel Spreadsheet", report_index_path(format: "xls") %>
  </p>
   </div>
