<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.12/b-1.2.2/b-html5-1.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/b-1.2.2/b-html5-1.2.2/datatables.min.js"></script>


<% @page_title = "Student Reports" %>

<!-- insert back button -->
<div class="container-fluid">
  <!-- dropdown here  -->

  <%= render(partial: "dropdown_checks",
    locals: {options: @header_mappings.transpose[0] } ) %>

  <div class="student reports index">
    <h2>Student Information:</h2>

    <table class="cell-border small" id="report" summary="Student Reports">
    </div>
    <thead>
      <tr class="header">
        <% @header_mappings.each do |a, b| %>
          <th><%= a %></th>
        <% end %>

      </tr>
    </thead>
    <tbody>
      <% @data.each do |stu| %>
        <tr>
          <% @header_mappings.each do |a, b| %>
            <td><%= stu[b] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
</div>
