<% @page_title = "Student Report" %>

      <table border="1">
          <tr class="header">
            <th>Bnum</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>assessment_version_id</th>
            <% @version.assessment_items.each do |item| %>
              <th><%= "assessment_item_id: #{item.id}"%> </th>
            <% end %>
          </tr>
          <% (1..10).each do |ver| %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><%= @version.id %></td>
              <% @version.assessment_items.each do |item| %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
          
          